{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<h5>Курсовая работа по учебной дисциплине «Модели данных и системы
управления базами данных» является самостоятельной научно-исследовательской
работой студента, подтверждающей способность будущего специалиста
самостоятельно и профессионально ставить и характеризовать определенные
проблемы в теоретическом и прикладном аспектах, возникающих в работе с базами
данных. Будущий специалист должен проявить навыки научного исследования и
анализа, закрепить на практике теоретический материал, заняться решением
практических и прикладных вопросов, связанных с тематикой исследования.
Курсовая работа имеет целью систематизацию, закрепление и расширение
теоретических знаний, углубленное изучение и решение студентом вопросов,
связанных с обеспечением жизнеспособности информационных потоков в рамках
работы с базами данных или распределенным хранилищем.
В рамках подготовки курсовой работы студенту следует:
проанализировать предметную область и выделить не менее 7-8 сущностей,
описать связи между ними;
разработать структуру базы данных;
наполнить каждую таблицу не менее чем 10-20 записями;
разработать интерфейс для работы с базой данных;
провести тестирование разработанного программного продукта, оформить
результаты исследования в виде пояснительной записки.
</h5>
{% endblock %}