{% extends 'base.html' %}

{% block title %}
{{ car.make }}
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>{{ car.make }}</h1>

    <div class="alert alert-info">
        <p><b>Данные автомобиля</b></p>
        <p>Volkswagen</p>
        <p>Jetta</p>
        <p>Год: {{ car.year }}</p>

        <p><b>Данные владельца</b></p>
        <p>Ачинович Евгений Юрьевич</p>
        <p>+375447683814</p>

        <p><b>Техническое обслуживание</b></p>
        <p>Дата: 2023-10.15</p>
        <p>Описание: Замена моторного масла, маслянного фильтра</p>

        <p><b>Техосмотр</b></p>
        <p>Дата: 2023-11.07</p>
        <p>Результат: Пройден</p>

        <p><b>Сведения о дтп</b></p>
        <p>Дата: --</p>
        <p>Описание: Сведения отсутствуют</p>
        <p>Статус: --</p>

        <p><b>Страхование</b></p>
        <p>Застрахован с: 2023-10.02</p>
        <p>По: 2024-10.02</p>
        <p>Сумма страхования: 960</p>

        <p><b>Расходы на топливо</b></p>
        <p>Израсходовано топлива, л: 457</p>
        <p>Цена за 1 л: 2.38</p>
        <p>Всего: 1065</p>

        <a href="/cars/{{ car.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/cars/{{ car.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
</div>
{% endblock %}